// =============================================================================
// Utility classes
// =============================================================================

@import "../../node_modules/bootstrap/less/utilities.less";

//
// Browse Happy prompt
// -----------------------------------------------------------------------------

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.tab1 {
  padding-left: 2em;
}

.tab2 {
  padding-left: 4em;
}

.tab3 {
  padding-left: 6em;
}

.tab4 {
  padding-left: 8em;
}
ul#gallery li {
  display: inline-grid;
  font-style: normal;
  font-weight: 200;
  font-size: 1em;
  font-family: "Arial";
  overflow-wrap: break-word;
  width: 180px;
  height: 180px;
  position: relative;
  margin: 4px;
}
ul#gallery li img {
  position: absolute;
  width: 180px;
  height: 180px;
  border: 4px solid #000;
  border-radius: 4px;
  top: 0;
  object-fit: cover;
}
ul#gallery li .book-title {
  z-index: 1;
  position: absolute;
  bottom: 0;
  font-size: .8em;
  background-color: black;
  color: white;
  width: 173px;
  margin: 3px;
  text-align: center;
}
